DB_URL=jdbc:mysql://localhost:3306/quan_ly_dien_thoai
DB_USER=root
DB_PASSWORD=

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

LOW_STOCK_THRESHOLD=5
